body {
  background-color: lightblue;
}

p {
  font-size: 20px;
}

.ul-list {
  font-weight: bolder;
  color: purple;
}

.ol-list {
  font-weight: bolder;
  color: purple;
}

.color {
  color: green;
}

.inline {
  font-weight: bolder;
}
